#hc-reports {
    position: absolute;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 100;
    left: 0;
    top: 0;
    display: none;
}

#hc-reports input {
    margin-right: 10px;
}

#hc-reports .data {
    max-width: 100vw;
    overflow-x: scroll;
    background: black;
    margin: 10px 0;
}

#hc-reports .data table {
    border-left: solid 1px #000000; 
    border-collapse: collapse;
}

#hc-reports .data table td {
    width: 1px;
    overflow: hidden;
    height: 400px;
    background: white;
    position: relative;
    padding: 0;
}

#hc-reports .data table td.min-00:before {
    content:"";
    width: 1px;
    height: 400px;
    display: block;
    border-left: dashed 1px #555;
    z-index:25;
    left:0;
    position: absolute;
    pointer-events: none;
    bottom: 0;
}

#hc-reports .data table td .av,
#hc-reports .data table td .cc {
    position: absolute;
    bottom: 0;
    width: 1px;
}

#hc-reports .data table td .av {
    z-index: 5;
}

#hc-reports .data table td .cc {
    z-index: 10;
}

#hc-reports .data table td img {
    width: 1px;
    display: block;
}

#hc-reports .data table td img.a {
    background:#c0c0c0;
}

#hc-reports .data table td img.a:first-child {
    background:#a0a0a0;
}

#hc-reports .data table td img.c {
    background:#11c739;
}

#hc-reports .data table td img.c:first-child {
    background:#0087be;
}

#hc-reports .data table td img.morechat:not(.morechat-hide) {
    background: red !important;
}

#hc-reports .data table td img.morechat:last-child {
    border-bottom: solid 1px red;
}

#hc-reports .data table td:hover:after {
    content:"";
    width: 1px;
    height: 400px;
    display: block;
    background: black;
    z-index:10;
    left:50%;
    position: absolute;
    pointer-events: none;
    bottom: 0;
}

#hc-reports input[type="checkbox"] {
    float: left;
    clear: both;
    width: 20px;
    height: 20px;
    margin-bottom:10px;
}

#hc-reports label {
    color: #c0c0c0;
    float: left;
    font-size:16px;
    line-height: 24px;
    cursor: pointer;
}

#hc-reports label[for="filled-slots"] {
    color: white;
}

#hc-reports label[for="sh-green"] {
    color: #11c739;
}

#hc-reports label[for="sh-blue"] {
    color: #22aacc;
}

#hc-reports label[for="morechats"] {
    color: #ff0000;
}

#hc-reports .checkboxes {
    float: left;
}
#hc-reports .zooms {
    float: right;
}

#hc-reports .zooms a {
    color: white;
    display: block;
    font-size: 18px;
    line-height: 20px;
    height: 20px;
    font-weight: bold;
    margin: 15px 10px;
    text-align: right;

}

#hc-reports .zooms a::after {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #22aacc;
    color: white;  
    margin: 0 0 0 5px;
    border-radius: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

#hc-reports .zoom-in::after {
    content:"+";
}

#hc-reports .zoom-out::after {
    content:"-";
}

#hc-reports .zoom-reset::after {
    content:"R";
}

#open-reports,
#close-reports {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 101;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    color: white;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background: #0087be;
    border-radius: 15px;
}

#close-reports {
    display: none;
}
